<!-- home.component.html -->

<div class="container"><br>
  <div class="title"><h1 class="has-text-centered">Harnett County Resources</h1></div>
  <br>

  <!-- Iterate over categories using *ngFor-->
  <div *ngFor="let category of resourcesByCategory.keys(); let i = index">
    <h2 class="title is-4 mt-5 has-text-centered">{{ category }}</h2>
    <div class="columns is-multiline">
      <!-- Iterate over resources in each category -->
      <div class="column is-4 mb-4" *ngFor="let resource of resourcesByCategory.get(category)">
        <div class="card">
          <div class="card-content">
            <p class="subtitle has-text-centered"><strong>{{ resource.AgencyName }}</strong></p>
            <br>
            <p *ngIf="resource.Address"><strong>Address: </strong>{{ resource.Address }}</p>
            <p *ngIf="resource.Phone"><strong>Phone: </strong>{{ resource.Phone }}</p>
            <p *ngIf="resource.Email"><strong>Email: </strong>{{ resource.Email }}</p>
            <p *ngIf="resource.Website"><strong>Website: </strong>{{ resource.Website }}</p>
            <p *ngIf="resource.ServicesOffered"><strong>Services Offered: </strong>{{ resource.ServicesOffered }}</p>
            <p *ngIf="resource.ContactPerson"> <strong>Contact: </strong>{{ resource.ContactPerson }}</p>
          </div>
        </div>
      </div>
      <!-- Fallback if no resources are available, using *ngIf -->
      <div *ngIf="resourcesByCategory.get(category)?.length === 0">No resources available</div>
    </div>
  </div>
</div>

